/*---------------Fonts---------------*/

/* Fonts imported from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Piedra&family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');

body {
    font-family: 'Roboto', helvetica, sans-serif;
}

/*---------------Background---------------*/

.background-img {
    background: url(../images/background-sm.jpg)#440D10 fixed left top;
    background-size: cover;
}

/*---------------Bootstrap grid---------------*/

.row {
    padding: 0 2% calc(2% + 10px);
    align-items: center;
}

.col {
    padding: 0;
}

/*---------------Navbar---------------*/

.nav-bg {
    background-color: #000;
    width: 100%;
    height: 78px;
    position: absolute;
    z-index: -1;
}

.navbar {
    background-color: #000;
    display: flex;
    margin: calc(0.5vw + 10px)
}

#logo {
     color: #000;
     font-family: 'Piedra', helvetica;
     text-decoration: none;
     background-color: #FC8A17;
     border-radius: 5px;
     font-weight: 700;
}

#logo h2 {
    padding: 0 4px;
    margin: 0;
    position: relative;
    top: 2px;
}

.searchbar {
    background-color: #f5f5f5;
    display: flex;
    flex-grow: 1;
    border: none;
    border-radius: 5px;
    padding-left: 8px;
    margin: auto 9px auto 12px;
}

/*---------------Site description---------------*/

.intro {
    font-size: 18px;
    text-align: center;
    display: inline-block;
}

.intro a {
   color: #FC8A17;
}

/* The card layout is used both for the site description and for trailers */
.card {
    color: #f5f5f5;
    background-color: #2B2D2Ff2;
    border: 20px solid #2B2D2Ff2;
    margin: calc(0.5vw + 10px);
}

/*---------------Trailers---------------*/

.trailer {
    display: none;
}

.card-header {
    display: flex;
    padding: 0;
    margin: 0 0 20px;
}

.card-title {
    flex-grow: 1;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}

.card-video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.card-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-quote {
    font-style: italic;
    text-align: center;
    font-size: 18px;
    margin: 20px 0 0;
}

/*---------------Modals---------------*/

.modal-header {
    font-size: 20px;
    font-weight: 500;
}

.modal input {
    display: block;
    width: 100%;
    margin-top: 15px;
}

/* Overwrite default bootstrap modal setting to prevent background resizing on modal opening */
.modal-open {
    overflow: auto !important;
    padding: 0 !important;
}

/* Messages that appear if the user reaches the maximum number of characters in the modal input */
.max-length-msg {
    display: none;
    color: red;
}

/*---------------Buttons---------------*/

.btn:hover {
    color: #FC8A17;
}

.modal .btn:hover {
    color: #fff;
}

.btn-black {
    color: #f5f5f5;
    background-color: #000;
    font-weight: 500;
    font-size: 20px;
    padding: 0;
}

.btn-card {
    color: #f5f5f5;
    padding: 0 0 0 12px;
}

.btn-search {
    color:#999;
    background-color: transparent;
}

.btn-search .feather {
    width: 22px;
    height: 22px;
}

#loadMore {
    width: 100%;
    padding: 10px;
}

/* Increases the thickness of feather icons */
.feather {
    stroke-width: 2.5;
}

/*---------------Input fields---------------*/

input {
    font-size: 18px;
}

.searchbar input {
    background-color: transparent;
    flex-grow: 1;
    border: inherit;
    border-radius: inherit;
}

:focus { 
    outline: none;
}

::placeholder {
  color: #999;
  opacity: 1;
}

/*---------------404 page---------------*/




/*---------------Responsive Design---------------*/

/* Content intended for large viewports is hidden by default */
.searchbar-lg,.intro-lg {
    display: none;
}

/* Laptop and desktop view */
@media only screen and (min-width: 1280px) and (orientation:landscape) {

    .background-img {
        background-image: url(../images/background-lg.jpg);
        background-position: center;
    }

    .row {
        padding: 0 15% 2%;
    }

    #btn-add-trailer span {
        display: inline !important;
    }

    .searchbar-sm,.intro-sm {
        display: none;
    }

    .searchbar-lg {
        display: flex;
    }

    .intro-lg {
        display: block;
    }
}
