/* Fonts imported from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Piedra&family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');

/*---------------Background and font---------------*/

body {
    background: url(../images/background-sm.jpg)#440D10 fixed left top;
    background-size: cover;
    font-family: 'Roboto', helvetica, sans-serif;
}

/*---------------Bootstrap grid---------------*/

.row {
    padding: 0 2% 2%;
    align-items: center;
}

.col {
    padding: 0;
}

/*---------------Navbar---------------*/

.nav-bg {
    background-color: #000;
    width: 100%;
    height: 78px;
    position: absolute;
    z-index: -1;
}

.navbar {
    background-color: #000;
    display: flex;
    /* margin: 0 calc(0.5vw + 10px) calc(0.5vw + 10px); */
    margin: calc(0.5vw + 10px)
}

#logo {
     color: #000;
     font-family: 'Piedra', cursive;
     text-decoration: none;;
     background-color: #FC8A17;
     border-radius: 5px;
     font-weight: 700;
}

#logo h2 {
    padding: 0 4px;
    margin: 0;
    position: relative;
    top: 2px;
}

.searchbar {
    background-color: #f5f5f5;
    display: flex;
    flex-grow: 1;
    border: none;
    border-radius: 5px;
    padding-left: 8px;
    margin: auto 12px;
}

.searchbar input {
    font-size: 18px;
    background-color: transparent;
    flex-grow: 1;
    border: inherit;
    border-radius: inherit;
}

#input-search-lg {
    display: none;
}

#btn-search {
    color:#999;
    background-color: transparent;
}

#btn-search .feather {
    width: 22px;
    height: 22px;
}

#btn-add-trailer {
    color: #f5f5f5;
    font-weight: 500;
    font-size: 20px;
    padding: 0;
}

#btn-add-trailer:hover {
  color: #FC8A17;
}

/*---------------Intro---------------*/

.intro {
    font-size: 18px;
    text-align: center;
    display: inline-block;
}


/*---------------Cards---------------*/

.card {
    color: #f5f5f5;
    background-color: #2B2D2Ff2;
    border: 20px solid #2B2D2Ff2;
    margin: calc(0.5vw + 10px);
}

.card-header {
    display: flex;
    padding: 0;
    margin: 0 0 20px;
}

.card-title {
    flex-grow: 1;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}

.btn-card {
    color: #f5f5f5;
    padding: 0 0 0 12px;
}

.btn-card:hover {
  color: #FC8A17;
}

.card-video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.card-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-quote {
    font-style: italic;
    text-align: center;
    font-size: 18px;
    margin: 20px 0 0;
}

/*---------------Modals---------------*/

.modal input {
    display: block;
    width: 100%;
    margin-top: 15px;
}

/*---------------Feather icons---------------*/

.feather {
    stroke-width: 2.5;
}

/*---------------Input fields---------------*/

input {
    font-size: 18px;
}

:focus { outline: none; }

::placeholder {
  color: #999;
  opacity: 1;
}

/*---------------Laptop and desktop---------------*/

@media only screen and (min-width: 1280px) and (orientation:landscape) {
    .row {
        padding: 0 15% 2%;
    }
    body {
        background-image: url(../images/background-lg.jpg);
        background-position: center;
    }

    #btn-add-trailer span {
        display: inline !important;
    }

    #input-search-sm {
        display: none;
    }

    #input-search-lg {
        display: inline-block;
    }
}
