
.container{
    border: solid blue;
    text-align: center;
}

.card {
    border: solid red;
    display: inline-block;
    padding: 20px;
    margin: 20px;
}

.row {
    border: solid purple;
}


.ytb-video {
    padding: 20px 0;
}






