<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="16x16"
		href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
	<link rel="icon" type="image/png" sizes="32x32"
		href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">

	<!-- Style sheets -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />

	<!-- Page title -->
	<title>Page not found | Open Trailer</title>

</head>

<body class="background-404">

	<div class="wrapper-404">
		<div class="container-404">

			<img src="/static/images/404.png" alt="404">
			<h4>Sorry, the page you were looking for could not be found.</h4>
			<a href="{{url_for('get_trailers')}}" id="returnHome" class="btn btn-black">Return Home</a>
            
		</div>
	</div>

</body>

</html>