<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta data -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Style sheets -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="static/css/style.css" />
	<!-- In case of multi-page layout: -->
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/> -->

	<!-- Page title -->
	<title>Document</title>

</head>

<body>

	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12">

				<!-- Navbar -->
				<div class="navbar">
                <a href="{{url_for('get_trailers')}}" class="logo"><h3>OT</h3></a>
					<form class="searchbar" id="search-form" action="{{ url_for('search_trailers', search=search) }}"
						method="POST">
						<input name="user_search" id="user_search" type="text" placeholder="Search..">
						<button type="submit button" class="btn btn-search"><i data-feather="search"></i></button>
					</form>
					<button type="button" id="btn_add-trailer" class="btn" data-toggle="modal" data-target="#modal_add-trailer">Add Trailer <i data-feather="plus-square"></i></button>
				</div>

			</div>

			<!-- Cards -->
			{% block content %}
			{% endblock %}

		</div>


		<!--Add-trailer modal -->
		<div class="modal fade" id="modal_add-trailer" tabindex="-1" role="dialog" aria-labelledby="modal_add_trailer"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add a new Trailer</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
					</div>
					<form action="{{ url_for('insert_trailer') }}" method="POST">
						<div class="modal-body">
							<div class="container">
								<input id="title" name="title" placeholder="Movie title">
								<input id="url" name="url" placeholder="Youtube URL">
								<input id="quote" name="quote" placeholder="Favorite quote">
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
							<button id- class="btn btn-primary" type="submit">Save</button>
                        </div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
	<script src="static/js/script.js"></script>
	<!-- In case of multi-page layout: -->
	<!-- <link href="{{ url_for('static', filename='js/script.js') }}" /> -->
</body>

</html>