<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta data -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Style sheets -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="static/css/style.css" />
	<!-- In case of multi-page layout: -->
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/> -->

	<!-- Page title -->
	<title>Document</title>

</head>

<body>




	<div class="container-fluid">
		<div class="row justify-content-center">

			<!-- Is it bad pratice to put a semantic element inside a div? -->
			<header>
				<div class="col-12">
					<div class="navbar">
						<h3 class="logo">OT</h3>
						<input class="searchbar" type="text" placeholder="Search..">
						<button type="button" class="btn btn-add-trailer">Add Trailer +</button>
					</div>

					<!-- Site description -->
					<div class="col-12">
						<div class="intro card">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
							exercitation
							ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
							reprehenderit
							in
							voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						</div>
					</div>

			</header>

			<!-- Iterate through the list of documents to generate the cards -->
			{% for doc in output %}
			<div class="col-12 col-md-6 col-xl-4">
				<div class="card">
					{% for key, value in doc.items() %}
					{% if  key == "title" %}
					<p>{{ value }}</p>
					{% endif %}
					{% if  key == "url" %}
					<div class="ytb-video-wrapper">
						<iframe class="ytb-video" src="{{ value }}" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen>
						</iframe>
					</div>
					{% endif %}
					{% if  key == "quote" %}
					<p>{{ value }}</p>
					{% endif %}
					{% endfor %}
				</div>
			</div>
			{% endfor %}

		</div>
	</div>

	<!-- Scripts -->
	<script src="static/js/script.js"></script>
	<!-- In case of multi-page layout: -->
	<!-- <link href="{{ url_for('static', filename='js/script.js') }}" /> -->
</body>

</html>