{% extends 'base.html' %} {% block content %}

<!-- Welcome message -->
<div class="col-12">
	<div class="intro card">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
		incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
		exercitation
		ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
		reprehenderit
		in
		voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	</div>
</div>

{% for doc in docs %}
<div class="col-12 col-md-6 col-xl-4">
	<div class="card">
		{% for key, value in doc.items() %}
		{% if  key == "title" %}
		<div class="card-header">
			<p class="movie-title">{{ value }}</p>
			<button type="button" class="btn btn-edit"><i data-feather="edit"></i></button>
		</div>
		{% endif %}
		{% if  key == "url" %}
		<div class="ytb-video-wrapper">
			<iframe class="ytb-video" src="{{ value }}" frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
			</iframe>
		</div>
		{% endif %}
		{% if  key == "quote" %}
		<p>{{ value }}</p>
		{% endif %}
		{% endfor %}
	</div>
</div>
{% endfor %}

{% endblock %}