{% block intro %}

<div class="col col-12">

    <!-- For smartphone and tablet -->
	<p class="intro intro-sm card">
		Welcome to <strong>OpenTrailer</strong>, a community database of movie trailers.
		You are free to Add, Watch, Modify and Delete the trailers on this website.
        Click <a href="static/animations/how-to-url.gif" target="_blank" title="Copy and paste a Youtube URL">here</a> to see how.<br>
		Enjoy!
	</p>

    <!-- For laptop and desktop -->
	<p class="intro intro-lg card">
        Welcome to <strong>OpenTrailer</strong>, a community database of movie trailers.
        You are free to Add, Watch, Modify and Delete the trailers on this website.
        If you want to contribute just click on the "Add trailer" and insert
        the movie title, the <a href="static/animations/how-to-url.gif" target="_blank" title="Copy and paste a Youtube URL">Youtube URL</a> of the
        trailer and (if you want) your favorite quote from the movie.<br>
        Enjoy!
	</p>

</div>

{% endblock %}