{% block navbar %}

<div class="col col-12">
	<div class="navbar">
		<a href="{{url_for('get_trailers')}}" id="logo">
			<h2>OT</h2>
		</a>
		<form class="searchbar searchbar-sm" action="{{ url_for('search_trailers') }}" method="POST">
			<input name="input-search" type="text" size="1" placeholder="Search..">
			<button type="submit button" class="btn btn-search"><i data-feather="search"></i></button>
		</form>
		<form class="searchbar searchbar-lg" action="{{ url_for('search_trailers') }}" method="POST">
			<input name="input-search" type="text" size="1" placeholder="Search Trailer">
			<button type="submit button" id="btn-search" class="btn"><i data-feather="search"></i></button>
		</form>
		<button type="button" id="btn-add-trailer" class="btn btn-text btn-white" onclick="loadAddModal(this)"><span class="d-none">Add Trailer </span><i data-feather="plus-square"></i></button>
	</div>
</div>

{% endblock %}